<div class="login">
  <%= image_tag "city.jpg", class: 'background' %>
  <div class="facebook-login">
    <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
            <%= link_to image_tag("facebook.png"), omniauth_authorize_path(resource_name, provider) %><br />
        <% end -%>
    <% end -%>
  </div>
</div>
