<p>(HINT: click the tags)</p>

<div class="tag-wrapper">

  <% @categories.each do |c| %>
      <div class="tag">
        <input type="checkbox" />
        <label for=""><%= c.name %></label>
        <i class="fa fa-plus"></i>
        <i class="fa fa-check"></i>
      </div>
  <% end %>
</div><!-- End Wrapper -->